<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Evidence kontaktů</title>
</head>

<body>
    {{>header}}
     
    <p>{{message}}</p>

    <a href="/login">Login</a>
    <a href="/register">Registrace</a>


    {{>footer}}
    
</body>

</html>